@import "../mixins";
@import "../variables";

.grid-main {
  overflow: hidden;
  @include flex;

  .grid-introduction {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    position: relative;
    top: 60px;

    .grid-description-div {
      width: 50%;
      @include flex;
    }

    .grid-diagram-div {
      width: 60%;

      .grid-diagram {
        width: 275px;
      }
    }
  }

  .grid-practice-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    position: relative;
    top: 50px;

    .grid-properties {
      width: 50%;
      @include flex;
      

      .grid-box-group {
          display: flex;
          width: 100%;
          justify-content: space-evenly;


      .grid-box {
        @include flex;

        .grid-subtitle {
          margin-bottom: 0px;
        }

        .grid-input-div {
          display: flex;
          .grid-label {
            color: $blue;
            margin-right: 10px;
          }

          .grid-label:hover {
            transform: scale(1.1);
            cursor: pointer;
          }

          .grid-select {
          }
        }
      }
    }

      .grid-input-div {
        display: flex;

        .grid-label {
          color: $blue;
          margin-right: 10px;
        }

        .grid-label:hover {
          transform: scale(1.1);
          cursor: pointer;
        }

        .grid-input {
          margin-bottom: 0px;
          
        }
      }
    }
    .grid-practice {
      border: solid;
      width: 50%;
      display: flex;
      justify-content: center;
    }
  }
}
