@import "../mixins";
@import "../variables";

.grid-main {
  overflow: hidden;
  @include flex;

  .grid-introduction {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    position: relative;
    top: 60px;

    .grid-description-div {
      width: 50%;
      @include flex;
    }

    .grid-diagram-div {
      width: 60%;

      .grid-diagram {
        width: 275px;
      }
    }
  }

  .grid-practice-div {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    position: relative;
    height: 100%;
    top: 50px;

    .grid-properties {
      width: 50%;
      @include flex;
      position: relative;
      top: -15px;

      .grid-box-group {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        .grid-box {
          @include flex;

          .grid-subtitle {
            margin-bottom: 0px;
          }

          .grid-input-div {
            display: flex;

            .grid-label {
              color: $blue;
              margin-right: 10px;
            }

            .grid-label:hover {
              transform: scale(1.1);
              cursor: pointer;
            }

            .grid-select {
            }
          }
        }
      }

      .grid-input-div {
        display: flex;

        .grid-label {
          color: $blue;
          margin-right: 10px;
        }

        .grid-label:hover {
          transform: scale(1.1);
          cursor: pointer;
        }

        .grid-input {
          margin-bottom: 0px;
        }
      }
    }
    .grid-practice {
      width: 50%;
      position: relative;
      top: 30px;

      .grid-practice-box {
        @include flex;
        justify-content: center;
        border: solid 1px black;
      }
    }
  }

  .grid-card {
    height: 500px;
    width: 500px;
    position: relative;
    bottom: 650px;
    background-color: white;
    z-index: 2;
    @include flex;
    justify-content: space-evenly;
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 5%;

    .grid-card-title {
      font-size: 25px;
    }

    .grid-card-description {
      font-size: 15px;
    }

    .grid-card-button {
      width: 100px;
      height: 40px;
      background-color: white;
      color: $purple;
      font-size: 20px;
      border-radius: 5%;
    }

    .grid-card-button:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  .grid-card-closed {
    display: none;
  }
}
