@import "../variables";
@import "../mixins";


.position-main {
    position: relative;
    top: 50px;

    .position-introduction {
        @include flex;
        width: 100%;
    }

    .position-practice-div {
        @include flex;

        .position-practice {
            @include flex;
            width: 90%;
            position: relative;
            border: solid 2px black;
            height: 100px;
            justify-content: space-evenly;

            .position-practice-box {
                background-color: orange;
                width: 75px;
                height: 75px;
                @include flex;
                justify-content: center;
            }

            .position-properties {
                width: 100%;
                display: flex;
                margin-bottom: 20px;
                border: solid 2px black;
            }
        }
    }
}