@import "../variables";
@import "../mixins";


.position-main {
    position: relative;
    top: 50px;

    .position-introduction {
        @include flex;
        width: 100%;
    }

    .position-practice-div {
        @include flex;

        .position-practice {
            @include flex;
            width: 90%;
            position: relative;
            border: solid 2px black;
            height: 100px;
            justify-content: space-evenly;

            .position-practice-box {
                background-color: orange;
                width: 75px;
                height: 75px;
                @include flex;
                justify-content: center;
            }

            .position-properties {
                width: 100%;

                @include flex;
            }
        }
    }

    .position-card {
      height: 500px;
      width: 500px;
      position: relative;
      bottom: 650px;
      background-color: white;
      z-index: 2;
      @include flex;
      justify-content: space-evenly;
      box-shadow: 2px 2px 2px 2px black;
      border-radius: 5%;

      .position-card-title {
        font-size: 25px;
      }

      .position-card-descritption {
        font-size: 15px;
      }

      .position-card-button {
        width: 100px;
        height: 40px;
        background-color: white;
        color: $purple;
        font-size: 20px;
        border-radius: 5%;
      }
    }
  .position-card-closed {
      display: none;
  }
}