@import '../../Components/mixins';
@import '../../Components/variables';

.animationBox {
  border: solid 1px transparent;
  height: 200px;
  width: 848px;
  border-bottom: solid;
}

.animationh4 {
  width: 80%;
  color: black;
}

.animationPercents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.animationInputField {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.animationDescriptions {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-top: 25px;
  border-bottom: solid;
}

.animationDescriptionRow {
  display: flex;
  align-items: flex-start;
  width: 100%;
}