@import "../../Components/variables";

.dashboard-link:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.dashboard-links-main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;

  .dashboard-links-row {
    display: flex;
    justify-content: space-evenly;

    .dashboard-link {
      color: $blue;
      width: 175px;
      height: 75px;
      background-color: white;
      box-shadow: 2px 2px 2px 2px black;
      border-radius: 5%;
      font-size: 20px;
    }
  }
}

.dashboard-logout-button {
  position: relative;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: green;
  font-size: 25px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px black;
}

.dashboard-logout {
  display: flex;
  justify-content: flex-end;
}

.dashboard-logout-button {
  position: relative;
  right: 50px;
  bottom: 50px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: green;
  font-size: 25px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px black;
}

.dashboard-logout-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
