@import './Components/mixins';
@import './Components/variables';

// div {
//   border: solid;
// }

* {
  font-family: monospace;
}


h1 {
  color: $red;
}

h2 {
  color: $blue;
}

h3 {
  color: $purple
}

h4 {
  color: $brown
}
p {
  width: 90%
}

.flex {
  @include flex;
}
.App {
  text-align: center;
  background-color: #f8f8ff;
  overflow: hidden;
}

.hundred {
  @include flex;
  width: 100%;
}

//Animation



.fifty {
  @include flex;
  width: 50%;
}

.forty {
  @include flex;
  width: 40%;
}

//Background

.backgroundTopSection {
  @include flex;
  margin-bottom: 25px;
  border-bottom: solid;
}

.backgroundDescriptions {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.backgroundSection {
  width: 100%;
  display: flex;
  height: 700px;
  border-bottom: solid;
  margin-bottom: 50px;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

.large {
  width: 1000px;
  height: 1000px;
}

.medium {
  width: 300px;
  height: 300px;
}

.small {
  width: 100px;
  height: 100px;
}

.tiny {
  width: 20px;
  height: 20px;
}

@keyframes test {
  0% {
    left: 0px;
    background-color: orange;
    height: 100px;
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
    background-color: pink;
    height: 150px;
    transform: rotate(90deg) scale(1.5);
    border-radius: 50%;
  }
  50% {
    background-color: blue;
    opacity: .1;
    height: 100px;
    transform: rotate(0deg);
  }
  75% {
    width: 100px;
    opacity: 1;
    background-color: yellow;
    font-size: 20px;
    transform: skewY(180deg);
  }
  100% {
    width: 150px;
    left: 700px;
    background-color: green;
    color: red;
  }
}

.pseudo:hover {
  transform: scale(1.5)
}
.scale:focus {
  border-radius: 50%;
}
li:nth-child(odd) {
  border: dotted 5px red;
}
li:nth-child(even) {
  border: solid 5px transparent;
  color: blue;
}
input:disabled {
  opacity: .5;
  border: solid 1px rgba(0,0,0,.5);
}
.border:focus {
  border: solid 5px green;
}

.skew:focus {
  transform: skew(30deg)
}
.rotate:focus {
  transform: rotate(90deg)
}
.translate:focus {
  transform: translate(-200px)
}

@keyframes chase {
  0% {
    left: -300px;
  }
  25% {
    left: -150px;
    transform: rotate(0deg);
    top: 70px;
  }
  50% {
    left: 0px;
    transform: rotate(360deg);
    top: -50px;
  }
  75% {
    left: 150px;
    top: 100px;
    transform: rotate(360deg);
  }
  100% {
    left: 230px;
    top: 90px;
    transform: rotate(360deg);
  }
}

@keyframes run {
  0% {
    left: 150px;
  }
  25% {
    left: 170px;
  }
  50% {
    left: 190px;
  }
  75% {
    left: 210px;
    transform: rotate(0deg)
  }
  100% {
    left: 230px;
    transform: rotate(90deg);
    top: 40px;
  }
}

.wolf {
  position: relative;
  left: -300px;
  top: 150px;
  animation-name: chase;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.melvin {
  position: relative;
  left: 150px;
  animation-name: run;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards;
}


