.App {
  text-align: center;
}

// div {
//   border: solid 1px black;
// }

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

.large {
  width: 1000px;
  height: 1000px;
}

.medium {
  width: 300px;
  height: 300px;
}

.small {
  width: 100px;
  height: 100px;
}

.tiny {
  width: 20px;
  height: 20px;
}

@keyframes test {
  0% {
    left: 0px;
    background-color: orange;
    height: 100px;
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
    background-color: pink;
    height: 150px;
    transform: rotate(90deg) scale(1.5);
    border-radius: 50%;
  }
  50% {
    background-color: blue;
    opacity: .1;
    height: 100px;
    transform: rotate(0deg);
  }
  75% {
    width: 100px;
    opacity: 1;
    background-color: yellow;
    font-size: 20px;
    transform: skewY(180deg);
  }
  100% {
    width: 150px;
    left: 700px;
    background-color: green;
    color: red;
  }
}

.animation {
  animation-name: test;
  animation-duration: 8s;
  // animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.pseudo:hover {
  transform: scale(1.5)
}
.scale:focus {
  border-radius: 50%;
}
li:nth-child(odd) {
  border: solid 10px red;
}
input:disabled {
  opacity: .5;
  border: solid 1px rgba(0,0,0,.5);
}
.border:focus {
  border: solid 5px green;
}

.skew:focus {
  transform: skew(30deg)
}
.rotate:focus {
  transform: rotate(90deg)
}
.translate:focus {
  transform: translate(-200px)
}
