@import "../mixins";
@import "../variables";

.background-main {
  position: relative;
  top: 30px;

  .background-introduction-section {
    @include flex;
    margin-bottom: 5px;

    .background-title {
      margin-bottom: -5px;
    }

    .background-description {
      width: 80%;
      margin-bottom: -5px;
    }

    .background-introduction-buttons {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-top: 15px;
      margin-bottom: 5px;
      .background-introduction-button {
        background-color: white;
      }
    }
  }

  .background-image-section {
    @include flex;
    border-top: solid;

    .background-image-introduction {
      width: 90%;
      @include flex;
      margin-top: -10px;

      .background-image-title {
        margin-bottom: -5px;
      }
    }

    .background-image-properties {
      @include flex;
      width: 50%;
      justify-content: start;

      .background-image-property {
        @include flex;
        justify-content: center;
        width: 250px;
        margin-bottom: 10px;

        .background-label {
          color: $blue;
          font-size: 20px;
          margin-bottom: 3px;
        }

        .background-conjunction {
          position: relative;
          bottom: 16px;
          margin-bottom: -16px;
          color: $blue;
        }

        .background-property-section {
          display: flex;
          justify-content: center;
          width: 40%;
          .background-property-subsection {
            @include flex;
            margin-right: 20px;

            .background-property-input {
              width: 100px;
            }
          }
        }
        .background-property-button {
          background-color: white;
        }
      }
    }
  }

  .linear-gradient-section {
    @include flex;
    border-top: solid;
    width: 100%;

    .linear-gradient-introduction {
      width: 90%;
      @include flex;
      margin-top: -10px;

      .linear-gradient-title {
        margin-bottom: -5px;
      }
    }

    .linear-gradient-main {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      .linear-gradient-properties {
        .linear-gradient-subtitle {
          font-size: 15px;
        }

        .linear-gradient-label {
          color: $blue;
          margin-right: 10px;
        }

        .linear-gradient-input {
          width: 50px;
          margin-right: 10px;
        }

        .linear-gradient-conjunction {
          position: relative;

          color: $blue;
        }
      }
      .linear-gradient-div {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .linear-gradient {
          width: 500px;
          height: 500px;
          background-position: center;
        }
      }
    }
  }
  .radial-gradient-section {
    @include flex;
    width: 100%;

    .radial-gradient-introduction {
      width: 90%;
      @include flex;
      margin-top: -10px;
    

      .radial-gradient-title {
        margin-bottom: -5px;
      }
    }
}
}

.background-property-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.background-image-section-closed {
  display: none;
}

.linear-gradient-section-closed {
  display: none;
}



.radial-gradient-section-closed {
  display: none;
}

.backgroundDescriptions {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.backgroundSection {
  width: 100%;
  display: flex;
  height: 700px;
  border-bottom: solid;
  margin-bottom: 50px;
}

.background-card-closed {
  display: none;
}

.background-card {
  height: 500px;
  width: 500px;
  position: relative;
  bottom: 650px;
  background-color: white;
  z-index: 2;
  @include flex;
  justify-content: space-evenly;
  box-shadow: 2px 2px 2px 2px black;
  border-radius: 5%;

  .background-card-title {
    font-size: 25px;
  }

  .background-card-descritption {
    font-size: 15px;
  }

  .background-card-button {
    width: 100px;
    height: 40px;
    background-color: white;
    color: $blue;
    font-size: 20px;
    border-radius: 5%;
  }
}

.background-label:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.background-introduction-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.background-image-main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.background-image {
  width: 375px;
  height: 500px;
}
